._body{
  background-color: #282c34;
}
._papelera:hover{
  color: red;
  cursor: pointer;
}
._insert:hover{
  color: lightgreen;
  cursor: pointer;
}
._list:hover{
  color: lightblue;
  cursor: pointer;
}